streamlit
pandas
google-generativeai
selenium
numpy
torch>=2.1.0
matplotlib
requests
bs4
sentence-transformers>=2.2.0
transformers>=4.36.2
python-dotenv
fastapi
uvicorn
chromadb
langchain
langchain-community
pysqlite3-binary
langchain-groq
